# Logs, temp y caché
/log/*
/tmp/*
/storage/*
!/log/.keep
!/tmp/.keep
!/storage/.keep

# Archivos de configuración local
/config/master.key
/config/credentials.yml.enc
/db/*.sqlite3
/db/*.sqlite3-journal
/db/schema.rb

# Node modules y Yarn
/node_modules/
/yarn-error.log

# Bundler
/.bundle/
/vendor/bundle/

# Archivos de GitHub Actions (opcional)
.github/
